<html>
<head>
<title></title>
<style>
  
}

h1 {
    font-family: 'Amatic SC', Arial, Sans-Serif
}

h2 {
    text-decoration: underline;
    font-family: 'Amatic SC', Arial, Sans-Serif
}

h3 {
    font-family: 'Amatic SC', Arial, Sans-Serif
}

ul {
    list-style: circle;
    font-size: 125%;
    font-family: 'Amatic SC', Arial, Sans-Serif

}

label {font-size: 125%;
    font-family: 'Amatic SC', Arial, Sans-Serif}

p {color: black;}

input {font-size: 150%;
    font-family: 'Amatic SC', Arial, Sans-Serif}


</style>
