<html>
<head>
<title></title>
<style>

body {
    color: blue;
    background-image: url(img/chalkboard-black.jpg);
}

h1 {
    color: white;
}

h2 {
    color: white;
    text-decoration: underline;
    font-family: 'Amatic SC', Arial, Sans-Serif
}

body {
    background-color: black;
    background-image: url(http://planner.dev/img/chalkboard-black.jpg);
}

ul {list-style: circle;
    color: white;
    font-size: 125%;
    font-family: 'Amatic SC', Arial, Sans-Serif
}

label {font-size: 125%;
    font-family: 'Amatic SC', Arial, Sans-Serif}

p {color: white;}

input {font-size: 150%;
    font-family: 'Amatic SC', Arial, Sans-Serif}

#submit1 {font-size: 125%;
    font-family: 'Amatic SC', Arial, Sans-Serif}

</style>
